@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #222;
    margin: 20px;
}



.meny {
    background-color: #333;
    padding: 10px;
    margin-bottom: 20px;
}
.meny a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}
.meny a:hover {
    text-decoration: underline;
}


h1 {
    color: #0066cc;         
  font-family: "La Belle Aurore", cursive;
  font-weight: 400;
  font-style: normal;                     
}



h2 {
    color: #333;
}


table {
    border-collapse: collapse;
    width: 60%;
    margin-top: 10px;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #ddd;
}


.ruta {
    border: 2px solid #0066cc;
    border-radius: 10px;
    padding: 10px;
    background-color: #e0f0ff;
    width: 300px;
}


